<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlz.scheme.mapper.TBptParamMapper">
    
    <resultMap type="TBptParam" id="TBptParamResult">
        <result property="bppid"    column="BPPID"    />
        <result property="bptid"    column="BPTID"    />
        <result property="param"    column="PARAM"    />
        <result property="prmValue"    column="PRM_VALUE"    />
        <result property="remark"    column="REMARK"    />
    </resultMap>

    <sql id="selectTBptParamVo">
        select BPPID, BPTID, PARAM, PRM_VALUE, REMARK from t_bpt_param
    </sql>

    <select id="selectTBptParamList" parameterType="TBptParam" resultMap="TBptParamResult">
        <include refid="selectTBptParamVo"/>
        <where>  
            <if test="bptid != null  and bptid != ''"> and BPTID = #{bptid}</if>
            <if test="param != null  and param != ''"> and PARAM = #{param}</if>
            <if test="prmValue != null  and prmValue != ''"> and PRM_VALUE = #{prmValue}</if>
            <if test="remark != null  and remark != ''"> and REMARK = #{remark}</if>
        </where>
    </select>
    
    <select id="selectTBptParamById" parameterType="Long" resultMap="TBptParamResult">
        <include refid="selectTBptParamVo"/>
        where BPPID = #{bppid}
    </select>
        
    <insert id="insertTBptParam" parameterType="TBptParam" useGeneratedKeys="true" keyProperty="bppid">
        insert into t_bpt_param
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bptid != null  and bptid != ''">BPTID,</if>
            <if test="param != null  and param != ''">PARAM,</if>
            <if test="prmValue != null  and prmValue != ''">PRM_VALUE,</if>
            <if test="remark != null  and remark != ''">REMARK,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bptid != null  and bptid != ''">#{bptid},</if>
            <if test="param != null  and param != ''">#{param},</if>
            <if test="prmValue != null  and prmValue != ''">#{prmValue},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTBptParam" parameterType="TBptParam">
        update t_bpt_param
        <trim prefix="SET" suffixOverrides=",">
            <if test="bptid != null  and bptid != ''">BPTID = #{bptid},</if>
            <if test="param != null  and param != ''">PARAM = #{param},</if>
            <if test="prmValue != null  and prmValue != ''">PRM_VALUE = #{prmValue},</if>
            <if test="remark != null  and remark != ''">REMARK = #{remark},</if>
        </trim>
        where BPPID = #{bppid}
    </update>

    <delete id="deleteTBptParamById" parameterType="Long">
        delete from t_bpt_param where BPPID = #{bppid}
    </delete>

    <delete id="deleteTBptParamByIds" parameterType="String">
        delete from t_bpt_param where BPPID in 
        <foreach item="bppid" collection="array" open="(" separator="," close=")">
            #{bppid}
        </foreach>
    </delete>
    
    <insert id="batchInsert" parameterType="java.util.ArrayList">
        insert into t_bpt_param
        	(
        		BPTID,
        		PARAM,
        		PRM_VALUE
        	)
        values
         <foreach collection="list" index="index" item="item" separator="," >
         	(
         		#{item.bptid} ,
         		#{item.param} ,
         		#{item.param_value}       		
         	)            
         </foreach> 
    </insert>
    
    <update id="batchUpdate" parameterType="java.util.ArrayList">
    	<foreach collection="list" item="item" index="index" separator=";">
        update t_bpt_param
        <set>
            PRM_VALUE = #{item.param_value}
        </set>
        where BPTID = #{item.bptid} and 
        	PARAM = #{item.param}
    	</foreach>    
    </update>
    
</mapper>