<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlz.scheme.mapper.TProjectFileMapper">
    
    <resultMap type="TProjectFile" id="TProjectFileResult">
        <result property="id"    column="ID"    />
        <result property="pjtid"    column="PJTID"    />
        <result property="fileType"    column="FILE_TYPE"    />
        <result property="fileName"    column="FILE_NAME"    />
        <result property="path"    column="PATH"    />
        <result property="creator"    column="CREATOR"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="fileId"    column="FILE_ID"    />
        <result property="fileFormat"    column="FILE_FORMAT"    />
        <result property="status"    column="STATUS"    />
    </resultMap>

    <sql id="selectTProjectFileVo">
        select ID, PJTID, FILE_TYPE, FILE_NAME, PATH, CREATOR, CREATE_TIME, FILE_ID, FILE_FORMAT,STATUS from t_project_file
    </sql>

    <select id="selectTProjectFileList" parameterType="TProjectFile" resultMap="TProjectFileResult">
        <include refid="selectTProjectFileVo"/>
        <where>  
            <if test="pjtid != null  and pjtid != ''"> and PJTID = #{pjtid}</if>
            <if test="fileType != null  and fileType != ''"> and FILE_TYPE = #{fileType}</if>
            <if test="fileName != null  and fileName != ''"> and FILE_NAME like concat('%', #{fileName}, '%')</if>
            <if test="path != null  and path != ''"> and PATH = #{path}</if>
            <if test="creator != null  and creator != ''"> and CREATOR = #{creator}</if>
            <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
            <if test="fileId != null  and fileId != ''"> and FILE_ID = #{fileId}</if>
            <if test="fileFormat != null  and fileFormat != ''"> and FILE_FORMAT = #{fileFormat}</if>
            <if test="status != null  and status != ''"> and STATUS = #{status}</if>
        </where>
    </select>
    
    <select id="selectTProjectFileById" parameterType="Long" resultMap="TProjectFileResult">
        <include refid="selectTProjectFileVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertTProjectFile" parameterType="TProjectFile" useGeneratedKeys="true" keyProperty="id">
        insert into t_project_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pjtid != null  and pjtid != ''">PJTID,</if>
            <if test="fileType != null  and fileType != ''">FILE_TYPE,</if>
            <if test="fileName != null  and fileName != ''">FILE_NAME,</if>
            <if test="path != null  and path != ''">PATH,</if>
            <if test="creator != null  and creator != ''">CREATOR,</if>
            <if test="createTime != null ">CREATE_TIME,</if>
            <if test="fileId != null  and fileId != ''">FILE_ID,</if>
            <if test="fileFormat != null  and fileFormat != ''">FILE_FORMAT,</if>
            <if test="status != null  and status != ''">STATUS,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pjtid != null  and pjtid != ''">#{pjtid},</if>
            <if test="fileType != null  and fileType != ''">#{fileType},</if>
            <if test="fileName != null  and fileName != ''">#{fileName},</if>
            <if test="path != null  and path != ''">#{path},</if>
            <if test="creator != null  and creator != ''">#{creator},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="fileId != null  and fileId != ''">#{fileId},</if>
            <if test="fileFormat != null  and fileFormat != ''">#{fileFormat},</if>
            <if test="status != null  and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateTProjectFile" parameterType="TProjectFile">
        update t_project_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="pjtid != null  and pjtid != ''">PJTID = #{pjtid},</if>
            <if test="fileType != null  and fileType != ''">FILE_TYPE = #{fileType},</if>
            <if test="fileName != null  and fileName != ''">FILE_NAME = #{fileName},</if>
            <if test="path != null  and path != ''">PATH = #{path},</if>
            <if test="creator != null  and creator != ''">CREATOR = #{creator},</if>
            <if test="createTime != null ">CREATE_TIME = #{createTime},</if>
            <if test="fileId != null  and fileId != ''">FILE_ID = #{fileId},</if>
            <if test="fileFormat != null  and fileFormat != ''">FILE_FORMAT = #{fileFormat},</if>
            <if test="status != null  and status != ''">STATUS = #{status},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteTProjectFileById" parameterType="Long">
        delete from t_project_file where ID = #{id}
    </delete>

    <delete id="deleteTProjectFileByIds" parameterType="String">
        delete from t_project_file where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>