<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改户型')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-housetype-edit" th:object="${tBptHousetype}">
            <input name="htid" th:field="*{htid}" type="hidden">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">户型名 *</label>
                                <div class="col-sm-8">
                                    <input name="htNm" class="form-control" th:field="*{htNm}" type="text" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">项目所在地 *</label>
                                <div class="col-sm-8">
                                    <input name="address" class="form-control" th:field="*{address}"  type="text" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">单层建筑面积 *</label>
                                <div class="col-sm-8">
                                    <input name="dcjzmj" class="form-control" th:field="*{dcjzmj}"  type="text" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">类型 *</label>
                                <div class="col-sm-8">
                                    <select name="htType" class="form-control" th:with="type=${@dict.getType('project_jzhx')}">
                                        <option value="">请选择</option>
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{htType}" > </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="layout1" >
                                <label class="col-sm-4 control-label">户型一面积</label>
                                <div class="col-sm-8">
                                    <input name="hx1" class="form-control" th:field="*{hx1}" type="text">
                                </div>
                            </div>
                            <div class="form-group" id="layout3" >
                                <label class="col-sm-4 control-label">户型三面积</label>
                                <div class="col-sm-8">
                                    <input name="hx3" class="form-control" th:field="*{hx3}" type="text" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">户型编码 *</label>
                                <div class="col-sm-8">
                                    <input name="htNo" class="form-control" th:field="*{htNo}" type="text" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">开发商 *</label>
                                <div class="col-sm-8">
                                    <input name="kfs" class="form-control" th:field="*{kfs}" type="text" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">层高 *</label>
                                <div class="col-sm-8">
                                    <input name="cg" class="form-control" th:field="*{cg}" type="text" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">户型数 *</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="hxs" id="hxs" onchange="changeOption()" >
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="layout2" >
                                <label class="col-sm-4 control-label">户型二面积</label>
                                <div class="col-sm-8">
                                    <input name="hx2" class="form-control" th:field="*{hx2}" type="text">
                                </div>
                            </div>
                            <div class="form-group" id="layout4" >
                                <label class="col-sm-4 control-label">户型四面积</label>
                                <div class="col-sm-8">
                                    <input name="hx4" class="form-control" th:field="*{hx4}" type="text" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <textarea name="memo" class="form-control" >[[*{memo}]]</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12" align="center">
                        <img th:src="@{*{path}}" class="img-thumbnail">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "scheme/housetype";
        $("#form-housetype-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-housetype-edit').serialize());
            }
        }
    </script>
</body>
</html>