<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增方案管理')" />
    <th:block th:include="include :: jquery-steps-css" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form id="form" action="" class="wizard-big form-horizontal m-t">
            <h1>创建方案</h1>
            <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">方案编码 *</label>
                            <div class="col-sm-9">
                                <input id="bptCode" name="bptCode" type="text" class="form-control required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">方案名称 *</label>
                            <div class="col-sm-9">
                                <input id="bptNm" name="bptNm" type="text" class="form-control required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">创建人 *</label>
                            <div class="col-sm-9">
                                <input id="creator" name="creator" type="text" class="form-control required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">图形文件 *</label>
                            <div class="col-sm-8">
                                <input id="model-file" name="model-file" type="file"  data-min-file-count="1" data-theme="fas" >
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <h1>方案明细</h1>
            <fieldset>
                <input name="bptid" th:value="${bptid}" type="hidden">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">利用率 *</label>
                            <div class="col-sm-5">
                                <input name="利用率" class="form-control" type="text">
                            </div>
                            <label class="col-lg-pull-1 control-label">%</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">公摊面积 *</label>
                            <div class="col-sm-5">
                                <input name="公摊面积" class="form-control" type="text">
                            </div>
                            <label class="col-lg-pull-1 control-label">%</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">装配率 *</label>
                            <div class="col-sm-5">
                                <input name="装配率" class="form-control" type="text">
                            </div>
                            <label class="col-lg-pull-1 control-label">%</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">用户面积 *</label>
                            <div class="col-sm-5">
                                <input name="用户面积" class="form-control" type="text">
                            </div>
                            <label class="col-lg-pull-1 control-label">m²</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">布墙率 *</label>
                            <div class="col-sm-5">
                                <input name="布墙率" class="form-control" type="text">
                            </div>
                            <label class="col-lg-pull-1 control-label">%</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">墙地比 *</label>
                            <div class="col-sm-6">
                                <input name="墙地比" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">窗地比 *</label>
                            <div class="col-sm-6">
                                <input name="窗地比" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">楼板拆分个数 *</label>
                            <div class="col-sm-6">
                                <input name="楼板拆分个数" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">剪力墙内墙拆分个数 *</label>
                            <div class="col-sm-6">
                                <input name="剪力墙内墙拆分个数" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">剪力墙外墙拆分个数 *</label>
                            <div class="col-sm-6">
                                <input name="剪力墙外墙拆分个数" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <h1>方案参数</h1>
            <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">外形结构 *</label>
                            <div class="col-sm-10">
                                <div class="radio-inline">
                                    <label><input type="radio" checked="" value="“一”型" id="optionsRadios1" name="optionsRadios">“一”型</label>
                                </div>
                                <div class="radio-inline">
                                    <label><input type="radio" checked="" value="“T”型" id="optionsRadios2" name="optionsRadios">“T”型</label>
                                </div>
                                <div class="radio-inline">
                                    <label><input type="radio" checked="" value="“H”型" id="optionsRadios3" name="optionsRadios">“H”型</label>
                                </div>
                                <div class="radio-inline">
                                    <label><input type="radio" checked="" value="“Y”型" id="optionsRadios4" name="optionsRadios">“Y”型</label>
                                </div>
                                <div class="radio-inline">
                                    <label><input type="radio" checked="" value="“十”型" id="optionsRadios5" name="optionsRadios">“十”型</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">单元户数 *</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="单元户数">
                                    <option>三户</option>
                                    <option>四户</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">单元数量 *</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="单元数量">
                                    <option>三户</option>
                                    <option>二户</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">单元电梯 *</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="单元电梯">
                                    <option>1梯</option>
                                    <option>2梯</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">单元面宽 *</label>
                            <div class="col-sm-8">
                                <input type="text" name="单元面宽" class="form-control" placeholder="请输入文本">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">标准层数 *</label>
                            <div class="col-sm-8">
                                <input type="text" name="标准层数" class="form-control" placeholder="请输入文本">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">结构形式 *</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="结构形式">
                                    <option>剪力墙</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">户型A *</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="户型A">
                                    <option>三室两厅</option>
                                    <option>四室两厅</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">户型B *</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="户型B ">
                                    <option>三室两厅</option>
                                    <option>四室两厅</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">建筑高度 *</label>
                            <div class="col-sm-8">
                                <input type="text" name="建筑高度" class="form-control" placeholder="请输入文本">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">层高 *</label>
                            <div class="col-sm-8">
                                <input type="text" name="层高" class="form-control" placeholder="请输入文本">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: jquery-steps-js" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script type="text/javascript">
        //var prefix = ctx + "scheme/main"
        $("#form-main-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-main-add').serialize());
            }
        }

        $(document).ready(function () {
            var prefix = ctx + "scheme/main";
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset", onStepChanging: function (event, currentIndex, newIndex) {
                    if (currentIndex > newIndex) {
                        return true
                    }
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false
                    }
                    var form = $(this);
                    if (currentIndex < newIndex) {
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error")
                    }
                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid()
                }, onStepChanged: function (event, currentIndex, priorIndex) {
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next")
                    }
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous")
                    }
                }, onFinishing: function (event, currentIndex) {
                    var form = $(this);
                    form.validate().settings.ignore = ":disabled";
                    return form.valid()
                }, onFinished: function (event, currentIndex) {
                    /*var form = $(this);
                    form.submit("","post","json",$('#form').serialize())*/
                    if ($.validate.form()) {
                        $("#model-file").fileinput('upload');
                        //$.operate.save("/add", $('#form').serialize());
                    }
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error)
                }, rules: {confirm: {equalTo: "#password"}}
            });

            $("#model-file").fileinput({
                theme: 'explorer-fas',
                language: 'zh',
                uploadUrl: prefix+'/addAll',
                showUpload: false,//去除上传按钮
                overwriteInitial: true,
                initialPreviewAsData: true,
                allowedFileTypes: ['image'],
                layoutTemplates: {
                    actionUpload: '',//去除上传按钮
                    actionDelete: '',//去除删除按钮
                },
                uploadExtraData:function () {           //传参
                    var data = {
                        "formData": $('#form').serialize(),     //此处自定义传参
                    };
                    return data;
                }
            });
        });
    </script>
</body>
</html>