<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('方案设计维护')" />
    <th:block th:include="include :: jquery-steps-css" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs navbar-default" style="background: #357ebd" >
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 方案创建</a>
                    </li>
                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">构件节点库</a>
                    </li>
                    <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">户型库</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="container-div">
                            <div class="row">
                                <div class="col-sm-12 search-collapse">
                                    <form id="form1">
                                        <div class="select-list">
                                            <ul>
                                                <li>
                                                    <p>方案名称：</p>
                                                    <input type="text" name="bptNm"/>
                                                </li>
                                                <li>
                                                    <p>创建人：</p>
                                                    <input type="text" name="creator"/>
                                                </li>
                                                <li class="select-time">
                                                    <p>创建时间：</p>
                                                    <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreateTime]"/>
                                                    <span>-</span>
                                                    <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreateTime]"/>
                                                </li>
                                                <li>
                                                    <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('form1','bootstrap-table1')"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                                    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>

                                <div class="btn-group-sm" id="toolbar1" role="group">
                                    <a class="btn btn-success" data-toggle="modal" data-target="#myModal" shiro:hasPermission="scheme:main:add">
                                        <i class="fa fa-plus"></i> 添加
                                    </a>
                                    <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="scheme:main:edit">
                                        <i class="fa fa-edit"></i> 修改
                                    </a>
                                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="scheme:main:remove">
                                        <i class="fa fa-remove"></i> 删除
                                    </a>
                                    <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="scheme:main:export">
                                        <i class="fa fa-download"></i> 导出
                                    </a>
                                </div>
                                <div class="modal inmodal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                                </button>
                                                <h2 class="modal-title">单体建筑装配式方案快速设计</h2>
                                            </div>
                                            <div class="modal-body " >
                                                <div class="wrapper wrapper-content animated fadeInRight ibox-content">
                                                    <form id="form" action="" class="wizard-big form-horizontal clearfix" >
                                                        <h1>方案名称</h1>
                                                        <fieldset>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">方案名称 *</label>
                                                                        <div class="col-sm-9">
                                                                            <input id="bptNm" name="bptNm" type="text" class="form-control required">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">方案编码 *</label>
                                                                        <div class="col-sm-9">
                                                                            <input id="bptCode" name="bptCode" type="text" class="form-control required">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">创建人 *</label>
                                                                        <div class="col-sm-9">
                                                                            <input id="creator" name="creator" type="text" class="form-control required">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <h1>方案明细</h1>
                                                        <fieldset>
                                                            <input name="bptid" th:value="${bptid}" type="hidden">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 control-label">开发商 *</label>
                                                                                <div class="col-sm-5">
                                                                                    <input name="detail_开发商" class="form-control" type="text">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 control-label">单元户数 *</label>
                                                                                <div class="col-sm-5">
                                                                                    <select class="form-control" name="detail_单元户数">
                                                                                        <option>一户</option>
                                                                                        <option>二户</option>
                                                                                        <option>三户</option>
                                                                                        <option selected>四户</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 control-label">单层建筑面积 *</label>
                                                                                <div class="col-sm-5">
                                                                                    <input name="detail_单层建筑面积" class="form-control required" type="text" value="500">
                                                                                </div>
                                                                                <label class="col-sm-1 control-label">m²</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 control-label">地上建筑层数 *</label>
                                                                                <div class="col-sm-5">
                                                                                    <input name="detail_地上建筑层数" class="form-control required" type="text" value="33">
                                                                                </div>
                                                                                <label class="col-sm-1 control-label">层</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 control-label">地上建筑高度 *</label>
                                                                                <div class="col-sm-5">
                                                                                    <input name="detail_地上建筑高度" class="form-control required" type="text" value="98">
                                                                                </div>
                                                                                <label class="col-sm-1 control-label">m</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 control-label">户型数 *</label>
                                                                                <div class="col-sm-5">
                                                                                    <select class="form-control" name="detail_户型数" id="户型数" onchange="changeOption()">
                                                                                        <option>1</option>
                                                                                        <option selected>2</option>
                                                                                        <option>3</option>
                                                                                        <option>4</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group" id="layout2" >
                                                                                <label class="col-sm-6 control-label">户型二面积</label>
                                                                                <div class="col-sm-5">
                                                                                    <input name="detail_户型二面积" class="form-control" type="text" value="105">
                                                                                </div>
                                                                                <label class="col-sm-1 control-label">m²</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group" id="layout4" style="display: none">
                                                                                <label class="col-sm-6 control-label">户型四面积</label>
                                                                                <div class="col-sm-5">
                                                                                    <input name="detail_户型四面积" class="form-control" type="text">
                                                                                </div>
                                                                                <label class="col-sm-1 control-label">m²</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 control-label">项目所在地 *</label>
                                                                                <div class="col-sm-5">
                                                                                    <input name="detail_项目所在地" class="form-control" type="text">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 control-label">层高 *</label>
                                                                                <div class="col-sm-5">
                                                                                    <input name="detail_层高" class="form-control" type="text" value="2.9">
                                                                                </div>
                                                                                <label class="col-sm-1 control-label">m</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 control-label">单元电梯 *</label>
                                                                                <div class="col-sm-5">
                                                                                    <select class="form-control" name="detail_单元电梯">
                                                                                        <option>1梯</option>
                                                                                        <option selected>2梯</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 control-label">结构体系 *</label>
                                                                                <div class="col-sm-5">
                                                                                    <select class="form-control" name="detail_结构体系">
                                                                                        <option selected>剪力墙</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 control-label">装配率要求 *</label>
                                                                                <div class="col-sm-5">
                                                                                    <input name="detail_装配率要求" class="form-control" type="text" value="50">
                                                                                </div>
                                                                                <label class="col-sm-1 control-label">%</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group" id="layout1" >
                                                                                <label class="col-sm-6 control-label">户型一面积</label>
                                                                                <div class="col-sm-5">
                                                                                    <input name="detail_户型一面积" class="form-control" type="text" value="140">
                                                                                </div>
                                                                                <label class="col-sm-1 control-label">m²</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group" id="layout3" style="display: none">
                                                                                <label class="col-sm-6 control-label">户型三面积</label>
                                                                                <div class="col-sm-5">
                                                                                    <input name="detail_户型三面积" class="form-control" type="text">
                                                                                </div>
                                                                                <label class="col-sm-1 control-label">m²</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <h1>方案文件</h1>
                                                        <fieldset>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-3 control-label">图形文件 *</label>
                                                                        <div class="file-loading col-sm-9">
                                                                            <input id="model-file" name="model-file" type="file"  multiple data-theme="fas" >
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 select-table table-striped">
                                    <table id="bootstrap-table1"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="container-div">
                            <div class="row">
                                <div class="col-sm-12 search-collapse">
                                    <form id="form2">
                                        <div class="select-list">
                                            <ul>
                                                <li>
                                                    <p>构件节点名：</p>
                                                    <input type="text" name="cnNm"/>
                                                </li>
                                                <li>
                                                    <p>类型：</p>
                                                    <select name="cnType" th:with="type=${@dict.getType('')}">
                                                        <option value="">所有</option>
                                                        <option value="构件">构件</option>
                                                        <option value="节点">节点</option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <p>文件名：</p>
                                                    <input type="text" name="fileNm"/>
                                                </li>
                                                <li>
                                                    <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('form2','bootstrap-table2')"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                                    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>

                                <div class="btn-group-sm" id="toolbar2" role="group">
                                    <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="scheme:componentnode:add">
                                        <i class="fa fa-plus"></i> 添加
                                    </a>
                                    <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="scheme:componentnode:edit">
                                        <i class="fa fa-edit"></i> 修改
                                    </a>
                                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="scheme:componentnode:remove">
                                        <i class="fa fa-remove"></i> 删除
                                    </a>
                                    <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="scheme:componentnode:export">
                                        <i class="fa fa-download"></i> 导出
                                    </a>
                                </div>
                                <div class="col-sm-12 select-table table-striped">
                                    <table id="bootstrap-table2"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="container-div">
                            <div class="row">
                                <div class="col-sm-12 search-collapse">
                                    <form id="formId">
                                        <div class="select-list">
                                            <ul>
                                                <li>
                                                    <p>户型名：</p>
                                                    <input type="text" name="htNm"/>
                                                </li>
                                                <li>
                                                    <p>类型：</p>
                                                    <select name="htType" th:with="type=${@dict.getType('')}">
                                                        <option value="">所有</option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <p>文件名：</p>
                                                    <input type="text" name="fileNm"/>
                                                </li>
                                                <li>
                                                    <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search('form3','bootstrap-table3')"><i
                                                            class="fa fa-search"></i>&nbsp;搜索</a>
                                                    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                                            class="fa fa-refresh"></i>&nbsp;重置</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>

                                <div class="btn-group-sm" id="toolbar3" role="group">
                                    <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="scheme:housetype:add">
                                        <i class="fa fa-plus"></i> 添加
                                    </a>
                                    <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
                                       shiro:hasPermission="scheme:housetype:edit">
                                        <i class="fa fa-edit"></i> 修改
                                    </a>
                                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
                                       shiro:hasPermission="scheme:housetype:remove">
                                        <i class="fa fa-remove"></i> 删除
                                    </a>
                                    <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="scheme:housetype:export">
                                        <i class="fa fa-download"></i> 导出
                                    </a>
                                </div>
                                <div class="col-sm-12 select-table table-striped">
                                    <table id="bootstrap-table3"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: jquery-steps-js" />
<th:block th:include="include :: bootstrap-fileinput-js" />
<script th:inline="javascript">
    var editFlag1 = [[${@permission.hasPermi('scheme:main:edit')}]];
    var removeFlag1 = [[${@permission.hasPermi('scheme:main:remove')}]];
    var prefix1 = ctx + "scheme/main";

    $(function() {
        var options = {
            url: prefix1 + "/list",
            createUrl: prefix1 + "/add",
            updateUrl: prefix1 + "/edit/{id}",
            removeUrl: prefix1 + "/remove",
            exportUrl: prefix1 + "/export",
            modalName: "方案管理",
            columns: [{
                checkbox: true
            },
                {
                    field : 'bptid',
                    title : '方案主键',
                    visible: false
                },
                {
                    field : 'bptId',
                    title : '方案编码'
                },
                {
                    field : 'bptNm',
                    title : '方案名称'
                },
                {
                    field : 'creator',
                    title : '创建人'
                },
                {
                    field : 'createTime',
                    title : '创建时间'
                },
                {
                    field : 'remark',
                    title : '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag1 + '" href="javascript:void(0)" onclick="modifyDetail(\'' + row.bptid + '\')"><i class="fa fa-edit"></i>修改明细</a> ');

                        return actions.join('');
                    }
                }]
        };
        $.table.init(options,"bootstrap-table1","toolbar1");
    });
    /* 方案管理-修改明细 */
    function modifyDetail(id) {
        var url = ctx + 'scheme/detail/edit/' + id;
        $.modal.open("修改方案明细", url, '800', '600');
    };
    function changeOption(){
        //获取被选中的option标签
        var vs = $('#户型数  option:selected').val();
        if(vs == 1)
        {
            $("#layout1").show();
            $("#layout2").hide();
            //$("input[name='detail_户型二面积']").value="",
            $("#layout3").hide();
            $("#layout4").hide();
        }
        if(vs == 2)
        {
            $("#layout1").show();
            $("#layout2").show();
            $("#layout3").hide();
            $("#layout4").hide();
        }
        if(vs == 3)
        {
            $("#layout1").show();
            $("#layout2").show();
            $("#layout3").show();
            $("#layout4").hide();
        }
        if(vs == 4)
        {
            $("#layout1").show();
            $("#layout2").show();
            $("#layout3").show();
            $("#layout4").show();
        }
    }
    /* 方案管理-创建方案 */
    $(document).ready(function () {
        //$("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            transitionEffect: "slideLeft",
            autoFocus: true,
            onStepChanging: function (event, currentIndex, newIndex) {
                if (currentIndex > newIndex) {
                    return true
                }
                if (newIndex === 3 && Number($("#age").val()) < 18) {
                    return false
                }
                var form = $(this);
                if (currentIndex < newIndex) {
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error")
                }
                form.validate().settings.ignore = ":disabled,:hidden";
                return form.valid()
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                    $(this).steps("next")
                }
                if (currentIndex === 2 && priorIndex === 3) {
                    $(this).steps("previous")
                }
            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);
                form.validate().settings.ignore = ":disabled";
                return form.valid()
            },
            onFinished: function (event, currentIndex) {
                if ($.validate.form()) {
                    $.operate.save(ctx + "scheme/main/addAll", $('#form').serialize());
                }
                $("#model-file").fileinput('upload');
            }
        }).validate({
            errorPlacement: function (error, element) {
                element.before(error)
            }, rules: {confirm: {equalTo: "#password"}}
        });
        $("#model-file").fileinput({
            theme: 'explorer-fas',
            language: 'zh',
            uploadUrl: prefix1+'/add',
            showUpload: false,//去除上传按钮
            showPreview:true,
            overwriteInitial: false,
            maxFilesNum :10,
            initialPreviewAsData: true,
            validateInitialCount:true,
            allowedFileExtensions: ['jpg', 'png','dwg','rvt','3dm','ifc'],
            dropZoneTitle:'拖拽图形文件到这里 &hellip;<br>支持格式：.dwg/.png/.jpg/.rvt/.3dm/.ifc',
            layoutTemplates: {
                actionUpload: '',//去除上传按钮
                actionDelete: '',//去除删除按钮
            },
            uploadExtraData:function () {           //传参
                var data = {
                    "formData": "",      //此处自定义传参
                };
                return data;
            }
        });
        $("#model-file").on('filecustomerror', function(event, params, msg) {
            alert(msg);
        });
        $("#model-file").on('filepreupload', function(event, data, previewId, index) {
            var files = data.files;
            var filenames=new Array();
            files.forEach(file => filenames.push(file.name));
            var dwgfiles=filenames.filter(filename =>filename.endWith('dwg'))
            var imagfiles=filenames.filter(filename =>filename.endWith('png'))
            if(dwgfiles.length ==0 || imagfiles.length == 0){
                return {
                    message: '必须同时上传模型文件（.dwg）和照片文件（.png或.img）',
                };
            }

        });
    });

    /*构件节点库JS*/
    var editFlag2 = [[${@permission.hasPermi('scheme:componentnode:edit')}]];
    var removeFlag2 = [[${@permission.hasPermi('scheme:componentnode:remove')}]];
    var prefix2 = ctx + "scheme/componentnode";

    $(function() {
        var options = {
            url: prefix2 + "/list",
            createUrl: prefix2 + "/add",
            updateUrl: prefix2 + "/edit/{id}",
            removeUrl: prefix2 + "/remove",
            exportUrl: prefix2 + "/export",
            modalName: "节点库",
            columns: [{
                checkbox: true
            },
                {
                    field : 'cnid',
                    title : '构件节点主键',
                    visible: false
                },
                {
                    field : 'path',
                    title : '路径',
                    visible: false
                },
                {
                    field : 'cnNo',
                    title : '构件节点编码'
                },
                {
                    field : 'cnNm',
                    title : '构件节点名'
                },
                {
                    field : 'cnType',
                    title : '类型'
                },
                {
                    field : 'fileNm',
                    title : '文件名'
                },
                {
                    title: '图片',
                    formatter: function(value, row, index) {
                        return $.table.imageView(row.path);
                    }
                },
                {
                    field : 'memo',
                    title : '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag2 + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.cnid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag2 + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.cnid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options,"bootstrap-table2","toolbar2");
    });
    /*户型库JS*/
    var editFlag3 = [[${@permission.hasPermi('scheme:housetype:edit')}]];
    var removeFlag3 = [[${@permission.hasPermi('scheme:housetype:remove')}]];
    var prefix3 = ctx + "scheme/housetype";

    $(function () {
        var options = {
            url: prefix3 + "/list",
            createUrl: prefix3 + "/add",
            updateUrl: prefix3 + "/edit/{id}",
            removeUrl: prefix3 + "/remove",
            exportUrl: prefix3 + "/export",
            modalName: "户型",
            columns: [{
                checkbox: true
            },
                {
                    field: 'htid',
                    title: '户型主键',
                    visible: false
                },
                {
                    field: 'path',
                    title: '文件上传路径',
                    visible: false
                },
                {
                    field: 'htNm',
                    title: '户型名'
                },
                {
                    field: 'htNo',
                    title: '户型编码'
                },
                {
                    field: 'htType',
                    title: '类型'
                },
                {
                    field: 'fileNm',
                    title: '文件名'
                },
                {
                    title: '图片',
                    formatter: function (value, row, index) {
                        return $.table.imageView(row.path);
                    }
                },
                {
                    field: 'memo',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag3 + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.htid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag3 + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.htid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options,"bootstrap-table3","toolbar3");
    });
</script>
</body>
</html>