<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('方案管理列表')" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />
</head>
<body class="gray-bg">
    <div class="ui-layout-west">
        <div class="box box-main">
            <div class="box-header">
                <div class="box-title">
                    <i class="fa icon-grid"></i> 项目
                </div>
                <div class="box-tools pull-right">
                    <a type="button" class="btn btn-box-tool" href="#" onclick="proj()" title="项目管理"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i class="fa fa-chevron-up"></i></button>
                    <button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i class="fa fa-chevron-down"></i></button>
                    <button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新部门"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
            <div class="ui-layout-content">
                <div id="tree" class="ztree"></div>
            </div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="container-div">
            <div class="row">
                <div class="col-sm-12 search-collapse">
                    <form id="formId">
                        <input type="hidden" id="pjtid" name="pjtid">
                        <div class="select-list">
                            <ul>
                                <li>
                                    <p>方案名称：</p>
                                    <input type="text" name="famc"/>
                                </li>
                                <li class="select-time">
                                    <p>创建时间：</p>
                                    <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreateTime]"/>
                                    <span>-</span>
                                    <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreateTime]"/>
                                </li>
                                <li>
                                    <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>

                <div class="btn-group-sm" id="toolbar" role="group">
                    <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="scheme:scheme:add">
                        <i class="fa fa-plus"></i> 创建方案
                    </a>
                    <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="scheme:scheme:edit">
                        <i class="fa fa-edit"></i> 修改
                    </a>
                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="scheme:scheme:remove">
                        <i class="fa fa-remove"></i> 删除
                    </a>
                    <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="scheme:scheme:export">
                        <i class="fa fa-download"></i> 导出
                    </a>
                </div>
                <div class="col-sm-12 select-table table-striped">
                    <table id="bootstrap-table"></table>
                </div>
            </div>
        </div>
    </div>

    <th:block th:include="include :: footer" />
    <th:block th:include="include :: layout-latest-js" />
    <th:block th:include="include :: ztree-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('scheme:scheme:edit')}]];
        var removeFlag = [[${@permission.hasPermi('scheme:scheme:remove')}]];
        var prefix1 = ctx + "scheme/projectscheme";
        var prefix2 = ctx + "scheme/adinfo";
        var prefix3 = ctx + "scheme/costinfo";

        $(function() {
            var panehHidden = false;
            if ($(this).width() < 769) {
                panehHidden = true;
            }
            $('body').layout({ initClosed: panehHidden, west__size: 300 });
            queryProjectTree();
            querySchemeList();
        });


        function queryProjectTree()
        {
            var url = ctx + "scheme/info/treeData";
            var options = {
                url: url,
                expandLevel: 1,
                onClick : zOnClick
            };
            $.tree.init(options);

            function zOnClick(event, treeId, treeNode) {
                $("#pjtid").val(treeNode.id);
                $.table.search();
            }
        }

        $('#btnExpand').click(function() {
            $._tree.expandAll(true);
            $(this).hide();
            $('#btnCollapse').show();
        });

        $('#btnCollapse').click(function() {
            $._tree.expandAll(false);
            $(this).hide();
            $('#btnExpand').show();
        });

        $('#btnRefresh').click(function() {
            queryProjectTree();
        });

        function proj() {
            var url = ctx + "scheme/info";
            $.modal.openTab("项目管理", url);
        }

        /* 状态显示 */
        function statusTools(row) {
            if (row.isDefault == "Y") {
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.faid + '\')"></i> ';
            } else {
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.faid +'\',\'' + row.pjtid + '\')"></i>';
            }
        }

        /* 取消默认方案 */
        function disable(faid) {
            $.modal.confirm("确认要取消默认方案？", function() {
                $.operate.post(prefix1 + "/cancelDefault", { "faid": faid});
            })
        }

        /* 设置默认方案 */
        function enable(faid,pjtid) {
            $.modal.confirm("确认要设定默认方案吗？", function() {
                $.operate.post(prefix1 + "/setDefault", { "faid": faid,"pjtid":pjtid });
            })
        }

        function querySchemeList() {
            var options = {
                url: prefix1 + "/list",
                createUrl: prefix1 + "/add",
                updateUrl: prefix1 + "/edit/{id}",
                removeUrl: prefix1 + "/remove",
                exportUrl: prefix1 + "/export",
                modalName: "方案管理",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'faid', 
                    title : '方案主键',
                    visible: false
                },
                {
                    field : 'pjtid', 
                    title : '项目ID',
                    visible: false
                },
                {
                    field : 'projectInfo.pjtNm',
                    title : '项目名称'
                },
                {
                    field : 'famc', 
                    title : '方案名称'
                },
                {
                    field : 'isDefault', 
                    title : '默认方案',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row);
                    }
                },
                {
                    field : 'creator', 
                    title : '创建人'
                },
                {
                    field : 'createTime', 
                    title : '创建时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="importScheme(\'' + row.faid + '\')"><i class="fa fa-upload"></i> 导入方案对比数据</a>');
                        actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="importCost(\'' + row.faid + '\')"><i class="fa fa-upload"></i> 导入方案成本数据</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        };

        function importScheme(id) {
            var url = prefix2+'/importScheme/' + id;
            $.modal.openTab("导入方案对比数据", url);
        }

        function importCost(id) {
            var url = prefix3+'/importCost/' + id;
            $.modal.openTab("导入方案成本数据", url);
        }

    </script>
</body>
</html>